.idea
.vscode

*_Spoiler.txt
*.bmbp
*.apbp
*.apcivvi
*.apl2ac
*.apm3
*.apmc
*.apz5
*.aptloz
*.aptww
*.apemerald
*.pyc
*.pyd
*.sfc
*.z64
*.n64
*.nes
*.smc
*.sms
*.gb
*.gbc
*.gba
*.wixobj
*.lck
*.db3
*multidata
*multisave
*.archipelago
*.apsave
*.BIN
*.puml

setups
build
bundle/components.wxs
dist
/prof/
README.html
.vs/
EnemizerCLI/
/Players/
/SNI/
/sni-*/
/appimagetool*
/host.yaml
/options.yaml
/config.yaml
/logs/
_persistent_storage.yaml
mystery_result_*.yaml
*-errors.txt
success.txt
output/
Output Logs/
/factorio/
/WebHostLib/static/generated
/freeze_requirements.txt
/Archipelago.zip
/setup.ini
/installdelete.iss
/data/user.kv
/datapackage
/datapackage_export.json
/custom_worlds
# stubgen output
/out/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.dll

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
installer.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/


# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# vim editor
*.swp

# SageMath parsed files
*.sage.py

# Environments
.env
.venv*
env/
venv/
/venv*/
ENV/
env.bak/
venv.bak/
*.code-workspace
shell.nix

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# Cython intermediates
_speedups.c
_speedups.cpp
_speedups.html

# pyenv
.python-version

#undertale stuff
/Undertale/

# OS General Files
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
[Dd]esktop.ini

_speedups.*
.coveragerc
.dockerignore
.gitattributes
.github/
.run/
*.exe
*.h
*.ini
*.iss
*.toml
*.yaml
**/__pycache__
AdventureClient.py
AHITClient.py
BaseClasses.py
BizHawkClient.py
ChecksFinderClient.py
ci-requirements.txt
CommonClient.py
custom_worlds/
data
deploy/
Dockerfile
docs/
entrance_rando.py
Fill.py
Generate.py
host.yaml
kvui.py
Launcher.py
LICENSE
LttPAdjuster.py
Main.py
MMBN3Client.py
ModuleUpdate.py
MultiServer.py
NetUtils.py
OoTAdjuster.py
OoTClient.py
Options.py
OptionsCreator.py
rule_builder/
settings.py
setup.py
SNI/
SNIClient.py
test/
typings/
UndertaleClient.py
Utils.py
WebHost.py
WebHostLib/
worlds/*.py
worlds/_bizhawk/
worlds/_sc2common/
worlds/adventure/
worlds/ahit/
worlds/alttp/
worlds/apquest/
worlds/apsudoku/
worlds/aquaria/
worlds/blasphemous/
worlds/bomb_rush_cyberfunk/
worlds/bumpstik/
worlds/cccharles/
worlds/celeste64/
worlds/celeste_open_world/
worlds/checksfinder/
worlds/civ_6/
worlds/cv64/
worlds/cvcotm/
worlds/dark_souls_3/
worlds/dkc3/
worlds/dlcquest/
worlds/doom_1993/
worlds/doom_ii/
worlds/earthbound/
worlds/factorio/
worlds/faxanadu/
worlds/ff1/
worlds/ffmq/
worlds/generic/
worlds/heretic/
worlds/hk/
worlds/hylics2/
worlds/inscryption/
worlds/jakanddaxter/
worlds/kdl3/
worlds/kh1/
worlds/kh2/
worlds/ladx/
worlds/landstalker/
worlds/lingo/
worlds/lufia2ac/
worlds/marioland2/
worlds/meritous/
worlds/messenger/
worlds/mlss/
worlds/mm2/
worlds/mmbn3/
worlds/musedash/
worlds/noita/
worlds/oot/
worlds/osrs/
worlds/overcooked2/
worlds/paint/
worlds/pokemon_emerald/
worlds/pokemon_rb/
worlds/raft/
worlds/ror2/
worlds/sa2b/
worlds/satisfactory/
worlds/saving_princess/
worlds/sc2/
worlds/shapez/
worlds/shivers/
worlds/shorthike/
worlds/sm/
worlds/sm64ex/
worlds/smw/
worlds/smz3/
worlds/soe/
worlds/stardew_valley/
worlds/subnautica/
worlds/terraria/
worlds/timespinner/
worlds/tloz/
worlds/tunic/
worlds/tww/
worlds/undertale/
worlds/v6/
worlds/wargroove/
worlds/witness/
worlds/yachtdice/
worlds/yoshisisland/
worlds/yugioh06/
worlds/zillion/
Zelda1Client.py
ZillionClient.py
